<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<style>
			#scene {
				width: 900px;
				height: 900px;
			}
		</style>
	</head>
	<body>
		<!--input type="number" id="spacing" name="spacing" min="15" max="50"-->
		<canvas id="scene" style="background-color: 888;"></canvas>
	</body>
</html>	